<main class="container" >
    <header class="jumbotron">
        <h1>Edit profile</h1>
    </header>
    <div class="row">
        <form name="edit-profile-form" class="form-horizontal" ng-submit="editDetails(profile)">
            <div class="col-md-4">
                <div class="form-group">
                    <img class="cover-preview thumbnail" src="{{ profile.coverImageData }}"  alt="profile picture" id="cover-image-preview" style="width: 100%; height: 180px" required>
                    <div class="form-group cover-upload-section">
                        <input type="file" ng-model="profile.coverImageData"  accept="image/*" app-filereader />
                        <span class="file-limit">Size limit: 1024KB</span>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class=" text-left col-md-6">
                        <div class="image-container" >
                            <img class="thumbnail" ng-src="{{ profile.profileImageData }}" alt="profile picture"/>
                            <input type="file" class="form-control" id="coverPhotoInput" ng-model="profile.profileImageData" accept="image/*" app-filereader />
                            <span class="file-limit">Reccomended size: 150 x 150 px</span>
                        </div>
                    </div>
                        <div class="form-group col-md-6" >
                            <label for="inputName">Name</label>
                                <input type="text" required class="form-control" id="inputName" placeholder="Name" ng-model="profile.name">
                        </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input type="text" required class="form-control" id="inputEmail" placeholder="Email" ng-model="profile.email">
                    </div>
                </div>
                <div class="row col-md-offset-6">
                    <div class="form-group col-md-6">
                        <label class="control-label">Gender</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="0" data-ng-model="profile.gender">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="1" data-ng-model="profile.gender">
                                Female
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="2" data-ng-model="profile.gender">
                                Other
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <section class="col-md-12">
                <div class="well text-center">
                    <input type="submit" class="btn btn-info" value="Update" />
                </div>
            </section>
        </form>
    </div>
</main>