<div class="well" ng-if="userFriendsListPreview">
    <div class="">Friends - <a href="{{userFriendsListPreview.userFriendsUrl}}">{{userFriendsListPreview.totalCount}} total</a></div>
    <div class="friends-preview" ng-repeat="friend in userFriendsListPreview.friends | limitTo:6">
            <a class="thumbnail" href="#/user/{{friend.username}}/wall/">
                <img ng-src="{{friend.profileImageData}}"  alt="profile picture" title="{{friend.name}}" style="width: 100px; height: 100px"/>
                <p>{{friend.name | limitTo:10}}</p>
            </a>
    </div>
</div>


