<div ng-controller="HomeController">
    <div ng-hide="isLogged()">
        <!-- guest home -->
        <div>
            <h1 class="center">Welcome to <strong>SoftUni Social Network</strong></h1>
        </div>
        <div class="row home-buttons-container col-md-12">
            <div class="center col-lg-6">
                <a href="#/login">
                    <button type="button" class="btn btn-lg btn-warning home-btn">Login</button>
                </a>
            </div>
            <div class="center col-lg-6">
                <a href="#/register">
                    <button type="button" class="btn btn-lg btn-primary home-btn">Register</button>
                </a>
            </div>
        </div>
    </div>
    <!-- end of guest home -->
    <div ng-show="isLogged()">
        <!-- user header -->
        <header class="header" id="header"
                ng-style="{'background-image':'url(' + (me.coverImageData ? me.coverImageData : 'imgs/cover.png') +')'}">
            <div class="image-container">
                <img class="thumbnail" ng-src="{{me.profileImageData}}" alt="profile picture"/>
            </div>
            <div class="summary-container">
                <h2> Hello, {{ me.name}}! </h2>
            </div>
        </header>
        <nav class="navbar navbar-default navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#/edit">Edit profile</a></li>
                <li><a href="#/changePassword">Change Password</a></li>
                <li><a href="#/invitations">Invitations</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><a href="#/friends" class="navbar-brand"><u>{{ me.name }}'s friends</u></a></li>
                <li>
                    <input type="text" class="search-input" ng-model="searchTerm" ng-change="searchUser();"
                           ng-blur="clearSearchResults()" class="form-control" placeholder="Search friends...">

                    <div id="search-results" ng-if="searchResults" class="list-group">
                        <div ng-repeat="user in searchResults | limitTo : 5" class="list-group-item">
                            <a href="#/user/{{user.username }}/wall/">
                                <img ng-src="{{user.profileImageData}}" alt="profile picture"
                                     style="width: 50px; height: 50px"/>
                                <span class="name">{{user.name}}</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li><a ng-click="logout()">Logout</a></li>
            </ul>
        </nav>
        <!-- end of user header -->
        <div class="col-md-8" ng-include="'templates/posts-comments-likes.html'"  ng-controller="PostController">

        </div>

        <div ng-show="accountService.isLoggedIn()" class="col-md-4" ng-init="getOwnFriendsListPreview()">
            <div class="well friends" ng-if="myFriendsListPreview">
                <div>Friends - <a href="{{myFriendsListPreview.userFriendsUrl}}"/>{{myFriendsListPreview.totalCount}}total</a>
                </div>
                <div class="friends-preview" ng-repeat="friend in myFriendsListPreview.friends | limitTo:6">
                    <a class="thumbnail" href="#/user/{{friend.username}}/wall/">
                        <img ng-src="{{friend.profileImageData}}" alt="profile picture" title="{{friend.name}}"
                             style="width: 100px; height: 100px"/>

                        <p>{{friend.name | limitTo:10}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>