<div ng-controller="HomeController">
    <div ng-hide="accountService.isLoggedIn()">
        <!-- guest home -->
        <div>
            <h1 class="center">Welcome to <strong>SoftUni Social Network</strong></h1>
        </div>
        <div class="row home-buttons-container">
            <div class="col-md-12">
                <div class="center col-lg-6">
                    <a href="#/login">
                        <button type="button" class="btn btn-lg btn-warning home-btn">Login</button>
                    </a>
                </div>
                <div class="center col-lg-6">
                    <a href="#/register">
                        <button type="button" class="btn btn-lg btn-primary home-btn">Register</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of guest home -->
    <div ng-show="accountService.isLoggedIn()" >
        <!-- user header -->
        <header class="header" id="header"  ng-style="{'background-image':'url(' + (wallOwner.coverImageData ? wallOwner.coverImageData : 'imgs/cover.png') +')'}" >
            <div class="image-container" >
                <img class="thumbnail" ng-src="{{wallOwner.profileImageData}}" alt="profile picture"/>
            </div>
            <div class="summary-container">
                <h2> Hello, {{ accountService.getCurrentUser().userName }}! </h2>
            </div>
        </header>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#/edit">Edit profile</a></li>
                    <li><a href="#">Post</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a class="navbar-brand"><u>{{ accountService.getCurrentUser().userName }}'s friends</u></a></li>
                    <li><a ng-click="logout()">Logout</a></li>


                    <form class="navbar-form navbar-right" id="search-form" role="search">
                        <div class="input-group">
                            <input type="text" id="search-input" ng-model="searchTerm" ng-change="searchUser();" ng-blur="clearSearchResults()" class="form-control" placeholder="Search friends by name...">
                        </div><!-- /input-group -->

                        <div id="search-results" ng-if="searchResults" class="list-group">
                            <div ng-repeat="user in searchResults" class="list-group-item">
                                <a href="#/user/{{user.username}}/wall/">
                                    <img ng-src="{{user.profileImageData}}" err-src="{{defaultImage}}" alt="profile picture" style="width: 50px; height: 50px"/>
                                    <span class="name">{{user.name}}</span>
                                </a>
                            </div>
                        </div>
                    </form>


                </ul>
            </div>
        </nav><!-- end of user header -->

        <legend>
            <h2>News feed</h2>
        </legend>
        <div class="form-group col-md-9">
            <div ng-include="'templates/posts.html'"  infinite-scroll='loadNewsFeed()' infinite-scroll-disabled='wallBusy' infinite-scroll-distance="0" class="row">
            </div>
        </div>
        <div class="media col-md-3" ng-include="'templates/friends-preview.html'">
        </div>
    </div>
</div>