<main ng-init="getFriendRequests()">
    <div class="white">
        <legend><h2>Pending requests ({{pendingRequests.length}} total)</h2></legend>

            <div class="row" >
                <div class="col-sm-5 col-md-3" ng-repeat="request in pendingRequests">
                    <div class="thumbnail">
                        <img ng-src="{{request.user.profileImageData}}"  alt="profile picture" style="width: 150px; height: 150px"/>
                        <div class="caption">
                            <h3 id="thumbnail-label">
                                <a href="#/user/{{request.user.username}}/wall/"><span>{{request.user.name}}</span></a>
                            </h3>
                            <p>
                                <button ng-click="acceptFriendRequest(request)" class="btn btn-success" role="button">Accept</button>
                                <button ng-click="rejectFriendRequest(request)" class="btn btn-default" role="button">Reject</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>