<!-- register -->
<div class="row" ng-controller="RegisterController">
    <form class="register form-horizontal col-lg-12" ng-submit="register(user)">
        <fieldset>
            <legend><h2>Create a new account</h2></legend>
            <div class="col-lg-9 form-info">
                <div class="form-group">
                    <label for="reg-username" class="col-lg-3 control-label">Username:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="reg-username" placeholder="Username" ng-model="userData.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="reg-password" class="col-lg-3 control-label">Password:</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="reg-password" placeholder="Password" ng-model="userData.password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="register-confirm-password" class="col-lg-3 control-label">Confirm password</label>
                    <div class="col-lg-9">
                            <input type="password" ng-model="userData.confirmPassword" class="form-control" id="register-confirm-password" placeholder="Confirm password" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reg-name" class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" id="reg-name" placeholder="Name" ng-model="userData.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="register-email" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="email" ng-model="userData.email" class="form-control" id="register-email" placeholder="Email" required />
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender-radio" value="male" ng-model="userData.gender">Male
                            </label>
                            <label>
                                <input type="radio" name="gender-radio" value="female" ng-model="userData.gender">Female
                            </label>
                            <label>
                                <input type="radio" name="gender-radio" value="other" ng-model="userData.gender">Other
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 picture-upload">
                <div class="form-group">
                    <img class="thumbnail picture-preview"/>
                </div>
                <div class="form-group">
                    <p class="picture-name"></p>
                    <button type="button" id="upload-file-button" class="btn btn-md btn-info">Upload</button>
                    <input type="file" id="picture" />
                    <p>Size limit: 128KB</p>
                </div>
            </div>

            <div class="form-group col-lg-12">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-lg btn-primary">Register</button>
                    <span>or</span>
                    <a href="#/login">Login</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- end of register -->