<header ng-if="isLogged" class="header" id="header"
        ng-style="{'background-image':'url(' + (wallOwner.coverImageData ? wallOwner.coverImageData : 'imgs/cover.png') +')'}">
    <div class="image-container">
        <img class="thumbnail" ng-src="{{wallOwner.profileImageData}}" alt="profile picture"/>
    </div>
    <div class="summary-container">
        <h2> This is {{ wallOwner.name }}'s wall </h2>
    </div>
    <div class="status text-right">
        <button ng-if="wallOwner.status === 'invite'" type="submit" class="btn-lg btn-danger"
                ng-click="sendFriendRequest(wallOwner.username)">---> Invite
        </button>
        <button ng-if="wallOwner.status === 'friend'" class="btn btn-lg btn-success" disabled>Friend</button>
        <button ng-if="wallOwner.status === 'pending'" class="btn btn-lg btn-warning" disabled>Pending</button>
    </div>
</header>
<main ng-if="wallOwner.isFriend">
    <div class="col-md-8" ng-include="'templates/posts-comments-likes.html'" ng-controller="PostController">

    </div>
    <div class="col-md-4" ng-init="getUserFriendsPreview()">
        <div class=" well input-group">
            <textarea ng-model="postData.postContent" placeholder="post content" rows="3" style="resize:none"
                      required></textarea>
            <input type="submit" ng-click="addPost()" class=" btn btn-primary" value="Post">
        </div>
        <div class="well friends" ng-if="userFriendsListPreview">
            <div class="">Friends - <a href="{{userFriendsListPreview.userFriendsUrl}}">{{userFriendsListPreview.totalCount}}
                total</a></div>
            <div class="friends-preview" ng-repeat="friend in userFriendsListPreview.friends | limitTo:6">
                <a class="thumbnail" href="#/user/{{friend.username}}/wall/">
                    <img ng-src="{{friend.profileImageData}}" alt="profile picture" title="{{friend.name}}"
                         style="width: 100px; height: 100px"/>

                    <p>{{friend.name | limitTo:10}}</p>
                </a>
            </div>
        </div>
    </div>
</main>
