<header ng-if="isLogged()" ></header>

<main ng-init="getWallOwner()">
    <header class="header" id="header"  ng-style="{'background-image':'url(' + (wallOwner.coverImageData ? wallOwner.coverImageData : 'imgs/cover.png') +')'}" >
        <div class="image-container" >
            <img class="thumbnail" ng-src="{{wallOwner.profileImageData}}" alt="profile picture"/>
        </div>
        <div class="summary-container">
            <h2> This is  {{ wallOwner.username }}'s wall </h2>
        </div>
        <div class="status text-right">
            <button ng-if="wallOwner.status === 'invite'" type="submit" class="btn btn-lg btn-danger" ng-click="profile.sendFriendRequest(wallOwner)">Invite</button>
            <button ng-if="wallOwner.status === 'friend'" class="btn btn-lg btn-success" disabled>Friend</button>
            <button ng-if="wallOwner.status === 'pending'" class="btn btn-lg btn-warning" disabled>Pending</button>
        </div>
    </header>
    <div class="form-group col-md-9" >
        <div ng-if="wallOwner.isFriend" ng-include="'templates/posts-preview.html'" class="row well">
        </div>
    </div>
</main>